# Django
Django==1.5
south==0.7.6

# Debug
django-debug-toolbar==0.9.4
django-extensions==1.1.1

# Utils
django_compressor==1.1.2
Jinja2==2.4
pika==0.9.9
django-imagekit==2.0.3
django-ratelimit==0.2.0
django-social-auth==0.7.22

# Clients
tweepy==2.0

# Tests
coverage==3.5.2
django_nose==1.1

