body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  margin: 10px 0;
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron .span5 {
  margin: 10px 0;
  font-size: 21px;
  padding: 14px 24px;
}

.nowidth {
  width: auto;
  margin: 1 auto;
}

li {
  list-style-type: none;
}

.importButton {
   width: 100px;
}

.nav-tabs.center > li, .nav-pills > li {
   float:none;
   display:inline-block;
}

.nav-tabs.center {
   text-align:center;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.options {
  text-align: left;
}

/* Character left */
form .counter{
	position:absolute;
	right:0;
	bottom:0;
  line-height:20%;
	font-size:12px;
	color:#999;
}
form .warning{color:#c09853;}	
form .exceeded{color:#b94a48;}	
