{% load i18n %}

<p>
  <a class="btn importButton" onclick=popitup("{{ facebook }}")><i class="icon-facebook icon-spin"></i> Facebook</a>
  {% trans 'Import your friends' %}
<p>
<p>
  <a class="btn importButton" onclick=popitup("{{ google }}")><i class="icon-google-plus"></i> Google Plus</a>
  {% trans 'Import your friends' %}
<p>
<p>
  <a class="btn importButton" onclick=popitup("{{ kaixin001 }}")><i class="icon-repeat"></i> Kaixin001</a>
  {% trans 'Import your friends' %}
<p>
<p>
  <a class="btn importButton" onclick=popitup("{{ linkedin }}")><i class="icon-linkedin"></i> LinkedIn</a>
  {% trans 'Import your friends' %}
<p>
