{% load compress %}
{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>{% trans 'QR' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS style -->
    {% compress css %}
    <link type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/styles.css" rel="stylesheet" />
    {% endcompress %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

  </head>
  <body>{% csrf_token %}

<form action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="/" />
        <select name="language"> 
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Switch Language"/>
      </form>
      
      
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">{% trans 'Home' %}</a></li>
          <li><a id="about_modal_link">{% trans 'About' %}</a></li>
          <li><a id="contact_modal_link">{% trans 'Contact' %}</a></li>
        </ul>
        <h3 class="muted">{% trans 'Project name' %}</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>{% trans 'It is Super<br />Awesome!' %}</h1>
        <p class="lead">{% trans 'Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.' %}</p>
        <a class="btn btn-large btn-success" data-loading-text="Loading...">{% trans 'Sign up today' %}</a>

        <!-- Language selector -->
        {% get_available_languages as languages %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
            <ul class="dropdown-menu">
            {% for lang_code, lang_name in languages %}
              <li>
              {% language lang_code %}
                <form name="{{ lang_name }}" action="{% url 'index' %}" method="POST">{% csrf_token %}
                  <a href="{% url 'index' %}">{{ lang_code|language_name_local }}</a>
                </form>
              {% endlanguage %}
              </li>
            {% endfor %}    
            </ul>
          </li>
        </ul>

        <p id="qrcode"></p>

        {% block content %}{% endblock %}
      </div>

      <div id="content">
        <hr>
        {% include "clients.html" %}
      </div>

      <hr>

      <div class="row-fluid marketing">
        {% include "clients_buttons.html" %}
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

    {% include "modals.html" %}

    <!-- Javascript -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js" /> -->
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_csrf.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js" />
    {% endcompress %}

    <!-- <script src="https://apis.google.com/js/plus.js" />
    <script src="https://apis.google.com/js/client:plus.js" /> -->
  </body>
</html>
