{% load compress %}
{% load i18n %}
{% load cache %}

{% get_current_language as LANGUAGE_CODE %}

{% cache 600 base_head LANGUAGE_CODE %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>{% trans 'QR friends' %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="QR friends is great! Play it! Share it! qrfriends.info">
    <meta name="author" content="QR friends">

    <meta property="og:title" content="QR friends" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ STATIC_URL }}ico/favicon.ico" />
    <meta property="og:description" content="QR friends is great! Play it! Share it! qrfriends.info" />
    <meta property="og:site_name" content="QR friends" />
    <meta property="og:url" content="http://www.qrfriends.info" />

    <!-- CSS CDN -->
    <!--
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    -->

    <!-- CSS style -->
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-image-gallery.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slider.css">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
    {% endcompress %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">

  </head>
  <body>{% csrf_token %}
    <div class="container-narrow ">
      <!-- Begin BidVertiser code -->
      <SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=525790&bid=1310538" type="text/javascript"></SCRIPT>
      <noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_publisher_toolbar_creator.dbm">custom toolbar</a></noscript>
      <!-- End BidVertiser code -->

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">{% trans 'Home' %}</a></li>
          <!-- <li><a id="about_modal_link">{% trans 'About' %}</a></li> -->
          <li><a id="contact_modal_link">{% trans 'Contact' %}</a></li>
          <li><!-- Language selector -->
            {% get_available_languages as languages %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe"></i> {% trans 'Language' %}<b class="caret"></b></a>
              <ul class="dropdown-menu pull-right" role="menu">
              {% for lang_code, lang_name in languages %}
                {% if forloop.counter <= 3 %}
                  <li>
                  {% language lang_code %}
                    <a href="{% url 'index' %}">{{ lang_code|language_name_local }}</a>
                  {% endlanguage %}
                  </li>
                {% endif %}
              {% endfor %}
                <li>
                  <a class="disable"><span class="muted">{% trans 'More to come...' context 'languages' %}</span></a>
                </li>
              </ul>
            </li>
          </li>
        </ul>
        <a href="{% url 'index' %}"><h3 class="muted"><img src="{{ STATIC_URL }}ico/favicon.ico" height="38" width="38" /> {% trans 'QR friends' %}</h3></a>
      </div>

      <hr>
{% endcache %}

      {% block content %}{% endblock %}

{% cache 600 base_footer LANGUAGE_CODE %}
      <div id="content">
        <!-- Begin BidVertiser code -->
        <SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=525790&bid=1310538" type="text/javascript"></SCRIPT>
        <!-- End BidVertiser code -->
      </div>
      <hr>

      <div class="footer">
        <p>&copy; 2013 - {% now 'Y' %} QR friends, {% trans 'All Rights Reserved.' %}</p>
        <p><a href="{% url 'term_of_service' %}"><small class="muted">{% trans "ToS and Privacy Policy" %}</small></a></p>
        <p><small class="muted">{% trans "We don't know what IE is. Please use other browser for your better life." %}</small></p>
      </div> <!-- /container -->

      {% include "modals.html" %}

    </div>

    <!-- Javascript CDN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js"></script> -->

    {% compress js %}
    <!--
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    -->
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/load-image.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charCount.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
    {% endcompress %}

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher: "cfddd865-c6d4-4924-81c6-b281c63d80f3", doNotHash: true});
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39525741-1', 'dotcloud.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
{% endcache %}
