{% load compress %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>QR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS style -->
    {% compress css %}
    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/styles.css" rel="stylesheet" />
    {% endcompress %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.ico">

    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: 2ykkt7cjhrcg
      scope: r_basicprofile r_emailaddress r_network
    </script>

  </head>
  <body>{% csrf_token %}

    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">Project name</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>It is Super<br />Awesome!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" data-loading-text="Loading...">Sign up today</a>
        <p id="qrcode"></p>

        <form action="/getqrcode" method="post" class="btn-group" onsubmit="$(#getqrcode).click();">
          <input name="text" class="span5" id="getqrcode_input" type="text" placeholder="Input your data">
          <button class="btn" id="getqrcode_button" type="button" data-loading-text="Loading..." data-complete-text="Complete!">Have fun!</button>
          <br />
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
        </form>


          </div>


      <div id="content">


        {% block content %}{% endblock %}
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Subheading</h4>
          <a class="btn btn-large btn-primary" href="#">Facebook</a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <a class="btn btn-large btn-warning" href="#">Weibo</a>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <a class="btn btn-large btn-info" href="#">Twitter</a>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <a class="btn btn-large btn-danger disabled" href="#">Badoo</a>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <a class="btn btn-large btn-inverse disabled" href="#">Renren</a>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <a class="btn btn-large btn-inverse disabled" href="#">LinkedIn</a>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>


  <!-- Javascript -->
  <!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js" />
  -->
  {% compress js %}
  <script src="/static/js/jquery.min.js" />
  <script src="/static/js/bootstrap.js" />
  <script src="/static/js/bootstrap-button.js" />
  <script src="/static/js/bootstrap-modal.js" />
  <script src="/static/js/json2.js" />
  <script src="/static/js/ajax_csrf.js" />
  <script src="/static/js/scripts.js" />
  {% endcompress %}
  <!--
  <script src="https://apis.google.com/js/plus.js" />
  <script src="https://apis.google.com/js/client:plus.js" />
  -->
  <!--
  <script type="text/javascript" src="http://tjs.sjs.sinajs.cn/t3/platform/js/api/wb.js" charset="utf-8" />
  -->

  </body>
</html>
