{% block clients_buttons %}
<div class="span6">
  <h4>Subheading</h4>
  <a class="btn btn-large btn-primary" href="#">Facebook</a>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Subheading</h4>
  <a class="btn btn-large btn-warning" href="#">Weibo</a>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <h4>Subheading</h4>
  <a class="btn btn-large btn-info" href="#">Twitter</a>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>

<div class="span6">
  <h4>Subheading</h4>
  <a class="btn btn-large btn-danger disabled" href="#">Badoo</a>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Subheading</h4>
  <a class="btn btn-large btn-inverse disabled" href="#">Renren</a>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <h4>Subheading</h4>
  <a class="btn btn-large btn-inverse disabled" href="#">LinkedIn</a>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>
{% endblock %}