{% block clients_buttons %}
<div class="span6">
  <h4>Facebook</h4>
  <a id="facebook_client" class="btn btn-large btn-primary">Facebook</a>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Google+</h4>
  <a id="google_client" class="btn btn-large btn-warning">Google+</a>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <h4>LinkedIn</h4>
  <a id="linkedin_client" class="btn btn-large btn-linkedin">LinkedIn</a>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
</div>

<div class="span6">
  <h4>Twitter</h4>
  <a id="twitter_client" class="btn btn-large btn-info">Twitter</a>
  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

  <h4>Badoo</h4>
  <a id="badoo_client" class="btn btn-large btn-danger disabled">Badoo</a>
  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

  <h4>Renren</h4>
  <a id="renren_client" class="btn btn-large btn-inverse disabled">Renren</a>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>

<div class="span12">
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
</div>
  
{% endblock %}
