{% load i18n %}

<!-- Policy Modal -->
<div id="policy_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{% trans 'Policy' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans 'About this website privacy policy' %}</p>
    <p>{% trans 'This is a model website privacy policy. It is written in plain language that is visitor-friendly. We have provided a large menu of paragraphs so that you can easily tailor the policy to suit the exact structure of your business and website.' %}</p>
    <p>{% trans 'Although this document cannot magically absolve you from the risk of data mismanagement, it is a giant first step. Informing your visitors and customers (and other parties) about the data you collect about them is a requirement. A privacy policy is a simple way to comply, but a good privacy policy goes further. It is prime evidence to everyone with whom you deal that you take confidentiality seriously. That can help increase the trust that visitors and customers have in your business and boost their confidence in using your services or buying from you.' %}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
    <button class="btn btn-primary">{% trans 'Save changes' %}</button>
  </div>
</div>


<!-- Contact Modal -->
<div id="contact_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{% trans 'Contact' %}</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" action="/sendMassage/" method="POST">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            {{ contact_form.name | safe }}
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            {{ contact_form.email | safe }}
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputMessage">Message</label>
        <div class="controls">
          {{ contact_form.message | safe }}
        </div>
      </div>
      <div class="control-group">
        {{ contact_form.captcha | safe }}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
    <button class="btn btn-primary">{% trans 'Save changes' %}</button>
  </div>
</div>


<!-- About Modal -->
<div id="about_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{% trans 'About' %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans 'About this website privacy policy' %}</p>
    <p>{% trans 'This is a model website privacy policy. It is written in plain language that is visitor-friendly. We have provided a large menu of paragraphs so that you can easily tailor the policy to suit the exact structure of your business and website.' %}</p>
    <p>{% trans 'Although this document cannot magically absolve you from the risk of data mismanagement, it is a giant first step. Informing your visitors and customers (and other parties) about the data you collect about them is a requirement. A privacy policy is a simple way to comply, but a good privacy policy goes further. It is prime evidence to everyone with whom you deal that you take confidentiality seriously. That can help increase the trust that visitors and customers have in your business and boost their confidence in using your services or buying from you.' %}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
    <button class="btn btn-primary">{% trans 'Save changes' %}</button>
  </div>
</div>


<!-- Import Modal -->
<div id="import_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{% trans 'Import your account here!!' %}</h3>
  </div>
  <div class="modal-body">
    <div id="auth_url">
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% trans '<strong>Oops!!</strong> something wrong with the site. Try reloading please or report us and we will fix it soon' %}
      </div>
    </div>
    {% comment %}
      {% for channel, auth_url in auth_urls.iteritems %}
      <p>
        <a class="btn importButton" onclick=popitup("{{ auth_url }}")>{{ channel }}</a>
        {% trans 'Import your friends' %}
      <p>
      {% endfor %}
    {% endcomment %}
  </div>
  <div class="modal-footer">
    <button id="logout" class="btn pull-left">{% trans 'Logout all' %}</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'Close' %}</button>
    <button id="import" class="btn btn-primary">{% trans 'Import' %}</button>
  </div>
</div>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
    </div>
</div>
