<!-- Policy Modal -->
<div id="policy_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>About this website privacy policy</p>
    <p>This is a model website privacy policy. It is written in plain language that is visitor-friendly. We have provided a large menu of paragraphs so that you can easily tailor the policy to suit the exact structure of your business and website.</p>
    <p>Although this document cannot magically absolve you from the risk of data mismanagement, it is a giant first step. Informing your visitors and customers (and other parties) about the data you collect about them is a requirement. A privacy policy is a simple way to comply, but a good privacy policy goes further. It is prime evidence to everyone with whom you deal that you take confidentiality seriously. That can help increase the trust that visitors and customers have in your business and boost their confidence in using your services or buying from you.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


<!-- Contact Modal -->
<div id="contact_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="contact_model_label">Contact</h3>
  </div>
  <div class="modal-body">
    <p>About this website privacy policy</p>
    <p>This is a model website privacy policy. It is written in plain language that is visitor-friendly. We have provided a large menu of paragraphs so that you can easily tailor the policy to suit the exact structure of your business and website.</p>
    <p>Although this document cannot magically absolve you from the risk of data mismanagement, it is a giant first step. Informing your visitors and customers (and other parties) about the data you collect about them is a requirement. A privacy policy is a simple way to comply, but a good privacy policy goes further. It is prime evidence to everyone with whom you deal that you take confidentiality seriously. That can help increase the trust that visitors and customers have in your business and boost their confidence in using your services or buying from you.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


<!-- About Modal -->
<div id="about_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="about_model_label">About</h3>
  </div>
  <div class="modal-body">
    <p>About this website privacy policy</p>
    <p>This is a model website privacy policy. It is written in plain language that is visitor-friendly. We have provided a large menu of paragraphs so that you can easily tailor the policy to suit the exact structure of your business and website.</p>
    <p>Although this document cannot magically absolve you from the risk of data mismanagement, it is a giant first step. Informing your visitors and customers (and other parties) about the data you collect about them is a requirement. A privacy policy is a simple way to comply, but a good privacy policy goes further. It is prime evidence to everyone with whom you deal that you take confidentiality seriously. That can help increase the trust that visitors and customers have in your business and boost their confidence in using your services or buying from you.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


<!-- Import Modal -->
<div id="import_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="importLabel">Import your account here!!</h3>
  </div>
  <div class="modal-body">
    {% for channel, auth_url in auth_urls.iteritems %}
    <p>
      <a class="btn importButton" onclick=popitup("{{ auth_url }}")>{{ channel }}</a>
      Import your friends
    <p>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button id="logout" class="btn pull-left">Logout all</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="import" class="btn btn-primary">Import</button>
  </div>
</div>
