<meta property="og:title" content="QRROUND" />
<meta property="og:type" content="1234567890" />
<meta property="og:url" content="http://sharethis.com" />
<meta property="og:image" content="http://sharethis.com/images/logo.jpg" />
<meta property="og:description" content="Sharing is great!" />
<meta property="og:site_name" content="ShareThis" />

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({publisher: "cfddd865-c6d4-4924-81c6-b281c63d80f3", doNotHash: true});
</script>

<span class='st_sharethis_vcount' displayText='ShareThis'></span>
<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_googleplus_vcount' displayText='Google +'></span>
<span class='st_linkedin_vcount' displayText='LinkedIn'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_sina_vcount' displayText='Sina'></span>
<span class='st_email_vcount' displayText='Email'></span>
